{% extends 'orders/base.html' %}
{% load static %}
{% block title %} - Log in{% endblock %}

{% block body %}
<div class="login-register-container">
  <div class="login-register-box">
    <h1>Log In</h1>
    <form id="login-register" action="login?next={{ request.GET.next }}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Log in</button>
      <div id="error">
        {{message}}
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'orders/js/login-register.js' %}" charset="utf-8"></script>
{% endblock javascript %}
